# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Administrateur\Google Drive (mercedes.f1.2021@gmail.com)\Intellij_Idea\Java FX\GameOfLife\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
